* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.color {
  background: #060606;
}

body {
  height: 100vh;
  background-color: #000;
  background-image: url(LoginImg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body .navbar {
  padding: 30px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}

a:hover {
  color: aqua;
}

/*HEADER*/

header {
  position: relative;
  padding: 0 2rem;
}

.navbar {
  width: 100%;
  height: 80px;
  max-width: 1350px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 55%;
  backdrop-filter: blur(
    15px
  ); /*le permite aplicar efectos gráficos como desenfoque o cambio de color al área detrás de un elemento.*/
  border-radius: 100px;
  overflow: hidden;
}

.navbar .logo a {
  font-size: 1.8rem;
  font-weight: bold;
}

.navbar .search_container {
  display: flex;
  gap: 10px;
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #5cd1e6;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
}

.navbar .search_bar {
  border-radius: 50px;
  border: 1px;
  text-align: center;
  color: #000;
}

.navbar .links {
  display: flex;
  position: relative;
  gap: 10px;
}

.navbar .toggle_btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer; /*Este cursor muestra la mano esa que aparece cuando el contenido es un hiperenlace, mostrando al usuario que ese elemento se puede apretar, hacer click, para ir a otro lugar o desencadenar algún tipo de comportamiento.*/
  display: none; /*el valor de none permite Desactivar la Visualizacion DE UN Elemento; cuando no se utiliza none , todos los elementos descendentes también quedan desactivados.*/
}

.navbar_login {
  display: flex;
}
.action_btn {
  width: auto;
  text-align: center;
  float: right;
  background-color: #5cd1e6;
  color: #fff;
  padding: 0.5rem 3rem;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
  margin-left: 5px; /* Adjust the distance between buttons */
  position: relative;
}
.dropdown {
  float: right;
  position: relative;
  width: auto;
  background-color: #5cd1e6;
  color: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/*dropdown_menu*/

.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(
    15px
  ); /*le permite aplicar efectos gráficos como desenfoque o cambio de color al área detrás de un elemento.*/
  border-radius: 10px;
  overflow: hidden;
  transition: height cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 240px;
}
.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* RESPONSIVE DESIGN*/
@media (max-width: 992px) {
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}

@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}

.box {
  position: relative;
  width: 250px;
  height: 250px;
}

/*FORMULARIO */

.wrapper {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: #fff;
}

.input-box box-icon {
  position: absolute;
  right: 20px;
  top: 25px;
  transform: translateY(-50%);
  font-size: 20px;
}
.btn2 {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-sizing: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-sizing: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.wrapper .btn_warning {
  width: 100%;
  height: 45px;
  background: #ff0000;
  border: none;
  outline: none;
  border-radius: 40px;
  box-sizing: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
}

/*HERO*/
section#hero {
  height: 400px;
  width: auto;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  /*flex-direction: column;*/ /*ESTO ERAA LO QUE NO DEJA QUE SE JUNTARAN*/
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #060606;
  backdrop-filter: blur(15px);
  border-radius: 50px;
}

#hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

/* PRODUCTOS */

.top-tittle {
  position: relative;
  text-align: center;
  padding: 5px;
  height: 50px;
  width: auto;
  color: #ffffff;
  backdrop-filter: blur(15px);
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 50px;
}

.top-tittle2 {
  position: relative;
  text-align: center;
  padding: 12px;
  height: 50px;
  width: auto;
  color: aqua;
  background: black;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 50px;
}

/* Seccion de productos */

.products-wrapper {
  display: flex;
  justify-items: start;
  margin: 0 -10px; /* Espaciado negativo para contrarrestar el padding en los elementos hijos */
}

.prod_box {
  width: 180px;
  height: 320px;
  padding: 10px 0px;
  border-radius: 5px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center; /* Center align the content */
  background-color: #4b165c;
  margin-inline: 10px;
}

.image {
  margin-top: 10px;
  border-radius: 10px;
  border: 2px solid #ddd;
  padding: 5px;
  width: 80%; /* Make the image width 100% of its container */
  max-width: 150px; /* Limit the maximum width */
  cursor: pointer;
}

.table-responsive {
  margin-top: 40px;
  padding: 10px;
  background: transparent;
  border: 4px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  border-radius: 5px;
}

table {
  color: black;
  margin: 0 auto; /* Centrar la tabla horizontalmente */
  max-width: 200%; /* Ancho máximo */
  border-radius: 15px;
}

table thead tr th {
  padding: 20px 15px;
  font-size: 15px;
  text-transform: uppercase;
  background: #687eff;
  border-radius: 5px;
}

table thead tr td {
  padding: 5px 5px;
  text-align: center;
  font-size: 15px;
  background: #80b3ff;
  color: black;
  border-radius: 3px;
}

.Eliminar a:hover {
  color: #ff0000;
}


.container {
  border: 1px black;
}

/*Comienzo del ESPACIO*/

.Espacio {
  display: flex;
  background: #4b165c;
  margin-left: 50px;
  width: 50%;
  height: 10%;
  justify-content: center;
}

/*Final del ESPACIO*/

/*Comienzo  Tarjetas de la pantalla principal*/

.contenedor-allcard {
  display: flex;
}

.container-card {
  float: left;
  max-width: 50rem;
  height: 200px;
  justify-content: center;
  margin: auto;
}

.container-card .card {
  width: 310px;
  height: 410px;
  border-radius: 20px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  margin: 50px;
  text-align: center;
  transition: all 0.25s;
  background: #fff;
  margin-left: 50px;
}

.container-card .card img {
  margin-top: 10px;
  border-radius: 10px;
  border: 2px solid #ddd;
  padding: 5px;
  width: 90%; /* Make the image width 100% of its container */
  height: 250px;
  max-width: 800px; /* Limit the maximum width */
}

.container-card .card h4 {
  margin-top: 10px;
  font-size: 25px;
}

.container-card .card p {
  padding: 2%;
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container-card .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0, 2);
}

/*Inicio de lista de pedidos*/

section#list {
  height: auto;
  width: auto;
  margin-left: 100px;
  margin-right: 100px;
  align-content: left;
  color: #060606;
  backdrop-filter: blur(15px);
  border-radius: 50px;
}

.list-wrapper {
  width: 400px;
  padding: 10px;
}

.list-container {
  background-color: #687eff;
  border-radius: 50px;
  padding: 15px;
  display: flex;
  gap: 450px;
}

.resumen-container {
  background: transparent;
  border-radius: 5px;
  border: 1px dashed #fff200;
  padding: 10px;
  height: 500px;
  width: 500px;
}

.resumen-list {
  border: 1px solid #fff200;
  border-radius: 5px;
  color: #ddd;
}

.pedidos-wrapper {
  display: flex;
  padding: 5px;
  width: auto;
  background-color: transparent;
  border: 1px solid #00ff11;
  
}

.prod_desc{
  background-color: #841313;
  text-align: center;
  padding: 10px;
  width: 300px;
}

.icon {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 2px;
  width: 75px;
}

/*COMIENZO DEL MENU DESPEGABLE*/
.dropdown {
  position: relative;
  width: auto;
  background-color: transparent;
  backdrop-filter: blur(20px);
  color: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border: 4px solid rgba(255, 255, 255, 0.2);
  position: fixed;
  margin-left: 50px;
  margin-top: 18px;
  left: 330px;
  top: 5%;
  transform: translateY(-88%);
  z-index: 9999;
  font-size: 30px;
}

.dropdown .items {
  position: absolute;
  display: none;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  width: 150px;

  padding: 12px 20px;
  z-index: 9999;
}

.dropdown:hover .items {
  display: flex;
  flex-direction: column;
}

.dropdown .items a {
  text-align: center;
  position: relative;
  display: flex;
  font-size: 20px;
  color: black;
  padding: 10px 15px;
  margin-top: 2.5px;
  text-decoration: none;
  border-radius: 5px;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  text-align: center; /* Centrar el texto */
}

.dropdown .items a:hover {
  background-color: #5cd1e6;
  color: #fff;
}

.action_btn:active {
  scale: 0.95;
}

/*FINAL DEL MENU DESPEGABLE*/
/*COMIENZO DEL MENU DESPEGABLE 2*/

.dropdown2 {
  position: relative;
  width: auto;
  background-color: transparent;
  backdrop-filter: blur(20px);
  color: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border: 4px solid rgba(255, 255, 255, 0.2);
  position: fixed;
  margin-left: 50px;
  margin-top: 18px;
  left: 480px;
  top: 5%;
  transform: translateY(-88%);
  z-index: 9999;
  font-size: 30px;
}

.dropdown2 .items {
  position: absolute;
  display: none;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  width: 150px;

  padding: 12px 20px;
  z-index: 9999;
}

.dropdown2:hover .items {
  display: flex;
  flex-direction: column;
}

.dropdown2 .items a {
  text-align: center;
  position: relative;
  display: flex;
  font-size: 20px;
  color: black;
  padding: 10px 15px;
  margin-top: 2.5px;
  text-decoration: none;
  border-radius: 5px;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  text-align: center; /* Centrar el texto */
}

.dropdown2 .items a:hover {
  background-color: #5cd1e6;
  color: #fff;
}

/*FINAL DEL MENU DESPEGABLE*/
/*COMIENZO DEL MENU DESPEGABLE 3*/

.dropdown3 {
  position: relative;
  width: auto;
  background-color: transparent;
  backdrop-filter: blur(20px);
  color: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border: 4px solid rgba(255, 255, 255, 0.2);
  position: fixed;
  margin-left: 50px;
  margin-top: 18px;
  left: 660px;
  top: 5%;
  transform: translateY(-88%);
  z-index: 9999;
  font-size: 30px;
}

.dropdown3 .items {
  position: absolute;
  display: none;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  width: 150px;

  padding: 12px 20px;
  z-index: 9999;
}

.dropdown3:hover .items {
  display: flex;
  flex-direction: column;
}

.dropdown3 .items a {
  text-align: center;
  position: relative;
  display: flex;
  font-size: 20px;
  color: black;
  padding: 10px 15px;
  margin-top: 2.5px;
  text-decoration: none;
  border-radius: 5px;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  text-align: center; /* Centrar el texto */
}

.dropdown3 .items a:hover {
  background-color: #5cd1e6;
  color: #fff;
}

/*FINAL DEL MENU DESPEGABLE*/
/*COMIENZO DEL MENU DESPEGABLE 3*/

.dropdown4 {
  position: relative;
  width: auto;
  background-color: transparent;
  backdrop-filter: blur(20px);
  color: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border: 4px solid rgba(255, 255, 255, 0.2);
  position: fixed;
  margin-left: 50px;
  margin-top: 18px;
  left: 1310px;
  top: 5%;
  transform: translateY(-88%);
  z-index: 9999;
  font-size: 30px;
}

.dropdown4 .items {
  position: absolute;
  display: none;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  width: 150px;

  padding: 12px 20px;
  z-index: 9999;
}

.dropdown4:hover .items {
  display: flex;
  flex-direction: column;
}

.dropdown4 .items a {
  text-align: center;
  position: relative;
  display: flex;
  font-size: 20px;
  color: black;
  padding: 10px 15px;
  margin-top: 2.5px;
  text-decoration: none;
  border-radius: 5px;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  text-align: center; /* Centrar el texto */
}

.dropdown4 .items a:hover {
  background-color: #5cd1e6;
  color: #fff;
}