/* COMIENZO DEL DESING PARA EL LOGIN*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  backdrop-filter: blur(
    15px
  ); /*le permite aplicar efectos gráficos como desenfoque o cambio de color al área detrás de un elemento.*/
  border-radius: 100px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.logo {
  font-size: 2em;
  color: #fff;
  user-select: none;
}

header a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  margin-left: 1rem;
}

header a:hover {
  color: aqua;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("img.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

/* Input responsivo */

.input-box input::placeholder {
  color: #fff;
}

.input-box box-icon {
  position: absolute;
  right: 15px;
  top: 20px;
  transform: translateY(-50%);
  font-size: 20px;
}

.input-box input {
  font: inherit;
  width: 100%;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  outline: 2px solid #fff;
  background-color: transparent;
  transition: outline-color 500ms;
  border-radius: 50px;
}

.input-box input:is(:focus, :valid){
  outline-color: #5cd1e6;
}

.label_group {
  position: absolute;
  top: 0;
  left: 0;
  translate: 10px 10px;
  color: #fff;
  transition: translate 500ms, scale 500ms;
}

.input-box input:focus +
.label_group,
.input-box input:valid +
.label_group {
  padding-inline: 5px;
  translate: 1px -20px;
  scale: 0.8;
}

/* fin input responsivo */

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-sizing: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 2px 0 15px;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

/* NAVBAR*/

.navbar {
  width: 100%;
  height: 40px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(
    15px
  ); /*le permite aplicar efectos gráficos como desenfoque o cambio de color al área detrás de un elemento.*/
  border-radius: 100px;
  overflow: hidden;
}

.navbar .logo a {
  font-size: 1.8rem;
  font-weight: bold;
}


.navbar .toggle_btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer; /*Este cursor muestra la mano esa que aparece cuando el contenido es un hiperenlace, mostrando al usuario que ese elemento se puede apretar, hacer click, para ir a otro lugar o desencadenar algún tipo de comportamiento.*/
  display: none; /*el valor de none permite Desactivar la Visualizacion DE UN Elemento; cuando no se utiliza none , todos los elementos descendentes también quedan desactivados.*/
}

.navbar_login {
  float: right;
}

.navbar .links {
  position: relative;
  gap: 10px;
  list-style-type: none;
}

.action_btn {
  width: auto;
  text-align: center;
  float: right;
  background-color: #5cd1e6;
  color: #fff;
  padding: 0.5rem 3rem;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
  margin-left: 5px; /* Adjust the distance between buttons */
  position: relative;
}

/* BOTON */

.wrapper .btn_warning {
  width: 100%;
  height: 45px;
  background: #ff0000;
  border: none;
  outline: none;
  border-radius: 40px;
  box-sizing: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
}
