* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.color {
  background: #060606;
}

.table-responsive {
  padding: 10px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  border-radius: 5px;
}
body {
  height: 100vh;
  background-color: #000;
  background-image: url(LoginImg.png);
  background-size: cover;
  background-position: center;
}

body .navbar {
  padding: 30px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}

a:hover {
  color: aqua;
}

/*HEADER*/

header {
  position: relative;
  padding: 0 2rem;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  backdrop-filter: blur(
    15px
  ); /*le permite aplicar efectos gráficos como desenfoque o cambio de color al área detrás de un elemento.*/
  border-radius: 100px;
  overflow: hidden;
}

.navbar .logo a {
  font-size: 1.8rem;
  font-weight: bold;
}

.navbar .search_container {
  display: flex;
  gap: 10px;
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #5cd1e6;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
}

.navbar .search_bar {
  border-radius: 50px;
  border: 1px;
  text-align: center;
  color: #000;
}

.navbar .links {
  display: flex;
  position: relative;
  gap: 10px;
}

.navbar .toggle_btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer; /*Este cursor muestra la mano esa que aparece cuando el contenido es un hiperenlace, mostrando al usuario que ese elemento se puede apretar, hacer click, para ir a otro lugar o desencadenar algún tipo de comportamiento.*/
  display: none; /*el valor de none permite Desactivar la Visualizacion DE UN Elemento; cuando no se utiliza none , todos los elementos descendentes también quedan desactivados.*/
}

.navbar_login {
  float: right;
}
.action_btn {
  width: auto;
  text-align: center;
  float: right;
  background-color: #5cd1e6;
  color: #fff;
  padding: 0.5rem 3rem;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
  margin-left: 5px; /* Adjust the distance between buttons */
  position: relative;
}
.dropdown {
  position: relative;
  width: auto;
  background-color: #5cd1e6;
  color: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.dropdown {
  position: relative;
  width: auto;
  background-color: #5cd1e6;
  color: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/*dropdown_menu*/

.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(
    15px
  ); /*le permite aplicar efectos gráficos como desenfoque o cambio de color al área detrás de un elemento.*/
  border-radius: 10px;
  overflow: hidden;
  transition: height cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 240px;
}
.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* RESPONSIVE DESIGN*/
@media (max-width: 992px) {
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}

@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}

.box {
  position: relative;
  width: 250px;
  height: 250px;
}

/*FORMULARIO */

.wrapper {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: #fff;
}

.input-box box-icon {
  position: absolute;
  right: 20px;
  top: 25px;
  transform: translateY(-50%);
  font-size: 20px;
}
.btn2 {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-sizing: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-sizing: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.wrapper .btn_warning {
  width: 100%;
  height: 45px;
  background: #ff0000;
  border: none;
  outline: none;
  border-radius: 40px;
  box-sizing: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
}

/*HERO*/
section#hero {
  height: 400px;
  width: auto;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  /*flex-direction: column;*/ /*ESTO ERAA LO QUE NO DEJA QUE SE JUNTARAN*/
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #060606;
  backdrop-filter: blur(15px);
  border-radius: 50px;
}

#hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

/* PRODUCTOS */

.top-tittle {
  position: relative;
  text-align: center;
  padding: 5px;
  height: 50px;
  width: auto;
  color: #ffffff;
  backdrop-filter: blur(15px);
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 50px;
}

.product-container {
  color: #fff;
  align-self: stretch;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px; /* Reducir la distancia entre los cuadros */
  padding: 10px;
  justify-items: left; /* Alinear los cuadros horizontalmente */
  margin-top: 15px;
  margin: center;
}

.products-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distribuir los productos horizontalmente */
  margin: 0 -10px; /* Espaciado negativo para contrarrestar el padding en los elementos hijos */
}

.prod_box {
  flex: 1;
  width: 150px;
  height: 280px;
  margin: 10px;
  padding: 10px 0px;
  border-radius: 5px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center; /* Center align the content */
  background-color: #4b165c;
}

.image {
  margin-top: 10px;
  border-radius: 10px;
  border: 2px solid #ddd;
  padding: 5px;
  width: 80%; /* Make the image width 100% of its container */
  max-width: 150px; /* Limit the maximum width */
  cursor: pointer;
}

table {
  color: black;
  margin: 0 auto; /* Centrar la tabla horizontalmente */
  max-width: 50%; /* Ancho máximo */
}

th,
td {
  padding: 5px 8px; /* Ajusta los valores de padding según tus necesidades */
  text-align: center; /* Centrar el contenido en las celdas */
  font-size: 700;
}

/*COMIENZO DEL MENU DESPEGABLE*/
.dropdown {
  position: relative;
  width: auto;
  background-color: transparent;
  backdrop-filter: blur(20px);
  color: red;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border: 4px solid rgba(255, 255, 255, 0.2);
  position: fixed;
  margin-left: 50px;
  left: 20px;
  top: 5%;
  transform: translateY(-88%);
  z-index: 9999;
  font-size: 30px;
}

.dropdown .items {
  position: absolute;
  display: none;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  width: 150px;

  padding: 12px 20px;
  z-index: 9999;
}

.dropdown:hover .items {
  display: flex;
  flex-direction: column;
}

.dropdown .items a {
  text-align: center;
  position: relative;
  display: flex;
  font-size: 20px;
  color: black;
  padding: 10px 15px;
  margin-top: 2.5px;
  text-decoration: none;
  border-radius: 5px;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  text-align: center; /* Centrar el texto */
}

.dropdown .items a:hover {
  background-color: #5cd1e6;
  color: #fff;
}

.action_btn:active {
  scale: 0.95;
}
/*FINAL DEL MENU DESPEGABLE*/

.container {
  border: 1px black;
}
